.accordion {
    margin: 20px auto;
    max-width: 800px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.accordion-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px; 
}

.accordion-item:last-child {
    border-bottom: none; 
}

.accordion-header {
    background-color: #9f9e9e;
    border: none;
    padding: 15px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 300;
    transition: background-color 0.3s ease;
    border-radius: 1pc;

}

.accordion-header:hover {
    background-color: #898989;
}

.accordion-header.active {
    background-color: #ccc;
}

.accordion-content {
    padding: 15px;
    background-color: #f9f9f9;
    font-size: 1em;
    border-radius: 1pc;


}

.map-container {
    margin-top: 15px;
}

#title_acordion {
    text-align: center;
    font-size: 1.2em; 
}
.btnpreto{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.btnlaranja{
    display: flex;
    justify-content: center;
}
.btnpreto button{
    width: 13pc;
    height: 3pc;
    background-color: black;
    color: var(--ter);
    border: none;
    border-radius: 2pc;
    font-size: 1.2pc;}
.btnpreto button:hover{
    transition: 0.9s;
    width: 13pc;
    height: 3pc;
    background-color: rgb(34, 34, 34);
    color: var(--ter);
    border: none;
    border-radius: 2pc;
    font-size: 1.2pc;}

.btnlaranja button{
    width: 13pc;
    height: 3pc;
    background-color: var(--ter);
    color: black;
    border: none;
    border-radius: 2pc;
    font-size: 1.2pc;

}
.btnlaranja button:hover{
    transition: 0.9s;
    background-color: rgb(241, 185, 94);
    width: 13pc;
    height: 3pc;
    color: black;
    border: none;
    border-radius: 2pc;
    font-size: 1.2pc;

}
.container p{
    text-align: center;
    font-size: 4.5pc;
    font-weight: 700;

}